.button{
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    &.primary-button{
        background-color: rgb(205, 7, 7);
        color: white;
    }

    &:active{
        transform: scale(0.9);
    }
}